.challenges_week {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 2rem;
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &_item {
        &\_title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                margin: 0;
            }

            &\:assist {
            }
        }
    }
}
